.container{
	width:210px;
	height:140px;
	position: relative;
	perspective:1000px;
	margin:200px auto 40px;
}
#carouse1{
	width:100%;
	height:100%;
	position:absolute;
	transform-style: preserve-3d;
	animation: mymove 10s ease infinite;
}
#carouse1 figure{
	display:block;
	position: absolute;
	width:186px;
	height:116px;
	left:10px;
	top:10px;
	border: 2px solid black;
	text-align: center;
	color:white;
	font-weight: bold;
	line-height: 116px;
}

#carouse1 figure:nth-child(1){
	transform: rotateY(0deg) translateZ(288px);
	background-color: red;
}

#carouse1 figure:nth-child(2){
	transform: rotateY(40deg) translateZ(288px);
	background-color: orange;
}
#carouse1 figure:nth-child(3){
	transform: rotateY(80deg) translateZ(288px);
	background-color: yellow;
}
#carouse1 figure:nth-child(4){
	transform: rotateY(120deg) translateZ(288px);
	background-color: green;
}
#carouse1 figure:nth-child(5){
	transform: rotateY(160deg) translateZ(288px);
	background-color: purple;
}
#carouse1 figure:nth-child(6){
	transform: rotateY(200deg) translateZ(288px);
	background-color: pink;
}
#carouse1 figure:nth-child(7){
	transform: rotateY(240deg) translateZ(288px);
	background-color: maroon;
}
#carouse1 figure:nth-child(8){
	transform: rotateY(280deg) translateZ(288px);
	background-color: beige;
}
#carouse1 figure:nth-child(9){
	transform: rotateY(320deg) translateZ(288px);
	background-color: gray;
}

@keyframes mymove{
	from{
	transform: rotateY(0deg);
	}
	to{
	transform: rotateY(360deg);
	}
}